@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-weight: 400;
  src: url("/Fonts/Minecraft.woff") format("woff"),
    url("/Fonts/Minecraft.ttf") format("tff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
/* Landing Page */
.landingpage {
  background: url(/Textures/landingPage-background.jpg);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10rem;
}
.button {
  font-family: "Minecraft";
  font-size: 2rem;
  padding: 1rem;
  background: transparent;
  border: 3px black solid;
  color: white;
}
.button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.tutorial-message {
  display: flex;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  color: white;
  font-family: "Minecraft";
}
/* Class assigned to gamezone so we start with landing page */
.none {
  display: none !important;
}

/* Game Zone */
#gameZone {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.gameZone-playscreen {
  height: 100%;
  width: 100vmin;
  display: grid;
  background-color: skyblue;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.cloud {
  background: white;
}

.sunupleft {
  background: rgb(255, 220, 23);
  border-top-left-radius: 10rem;
}
.sunupright {
  background: rgb(255, 220, 23);
  border-top-right-radius: 10rem;
}
.sundownleft {
  background: rgb(255, 220, 23);
  border-bottom-left-radius: 10rem;
}
.sundownright {
  background: rgb(255, 220, 23);
  border-bottom-right-radius: 10rem;
}
.dirt {
  background: url(/Textures/Dirt.png) center center / cover no-repeat;
}

.grass {
  background: url(/Textures/GrassBlock.png) center center / cover no-repeat;
}

.wood {
  background: url(/Textures/Wood.png) center center / cover no-repeat;
}

.stone {
  background: url(/Textures/Stone.png) center center / cover no-repeat;
}

.leaves {
  background: url(/Textures/Leaves.png) center center / cover no-repeat;
}

/* Inventory */
.gameZone-Inventory {
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pickaxe {
  background: url(/Textures/pickaxe.png) center center / cover no-repeat;
  border: black 5px solid;
  height: 10vh;
  width: 10vh;
}
.axe {
  background: url(/Textures/axe.png) center center / cover no-repeat;
  height: 10vh;
  width: 10vh;
  border: black 5px solid;
}
.shovel {
  background: url(/Textures/shovel.png) center center / cover no-repeat;
  height: 10vh;
  width: 10vh;
  border: black 5px solid;
}
#stone {
  background: url(/Textures/Stone.png) center center / cover no-repeat;
  height: 10vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wood {
  background: url(/Textures/Wood.png) center center / cover no-repeat;
  height: 10vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dirt {
  background: url(/Textures/Dirt.png) center center / cover no-repeat;
  height: 10vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#grass {
  background: url(/Textures/GrassBlock.png) center center / cover no-repeat;
  height: 10vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#leaves {
  background: url(/Textures/Leaves.png) center center / cover no-repeat;
  height: 10vh;
  width: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
#counter {
  color: white;
  font-size: 3rem;
  font-family: "Minecraft";
}
.counter {
  border: black 5px solid;
  color: white;
  font-size: 3rem;
  font-family: "Minecraft";
}
.selected {
  border: 5px red solid;
}
.buttons {
  display: flex;
  flex-direction: column;
}
@media (max-height: 812px) {
  .counter {
    font-size: 1.5rem;
  }
}
